.pmfo{
  overflow: hidden auto;
}
.pmfo-index__header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 72px;
  background: #061C2D;
  opacity: 1;
}
.pmfo-index__header-wrapper{
  padding: 0 16px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pmfo-index__header-login,.pmfo-index__header-login:hover{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pmfo-index__header-login img{
  -webkit-animation-name: imgScaleDraw; /*关键帧名称*/
  -webkit-animation-timing-function: ease-in-out; /*动画的速度曲线*/
  -webkit-animation-iteration-count: infinite;  /*动画播放的次数*/
  -webkit-animation-duration: 5s; /*动画所花费的时间*/
  animation: imgScaleDraw 5s ease-in-out infinite;
  -webkit-animation: imgScaleDraw 5s ease-in-out infinite;
}
.pmfo-index__header-login span{
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: #FFFFFF;
  position: relative;
  left: -10px;
}
@keyframes imgScaleDraw {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
  0%{
    transform: scale(1);  /*开始为原始大小*/
  }
  25%{
    transform: scale(1.2); /*放大1.1倍*/
  }
  50%{
    transform: scale(1);
  }
  75%{
    transform: scale(1.2);
  }
}
.pmfo-index__header-nav{
  height: 100%;
}
.pmfo-index__header-nav>li{
  padding: 0 30px;
  height: 100%;
}
.pmfo-index__header-nav>li>a{
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
  box-sizing: border-box;
  border-radius: 0;
}
.pmfo-index__header-nav.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  color: #C7A47C;
  background-color:inherit;
  border-bottom: 3px solid #C7A47C;
}
.pmfo-index__header-nav.nav>li>a:focus, .nav>li>a:hover{
  text-decoration: none;
  background-color: inherit;
}
.pmfo-index__header-nav.nav-pills>li+li{
  margin-left: 0;
}

/* footer */

.pmfo-index__footer{
  background: #1A1A1A;
  height: 36px;
}
.pmfo-index__footer-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
}
.pmfo-index__footer-wrapper>span{
  padding: 0 8px;
}


#pmfo-to-top{
  position: fixed;
  bottom: 20px;
  right: 30px;
  background: #C7A47C;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10000;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 10%);
}
#pmfo-to-top>i{
  font-size: 20px;
  color: #fff;
}