/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.pmfo{
  overflow: auto;
}
.pmfo-index__header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 72px;
  background: #061C2D;
  opacity: 1;
}
.pmfo-index__header-wrapper{
  padding: 0 16px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pmfo-index__header-login,.pmfo-index__header-login:hover{
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pmfo-index__header-login img{
  -webkit-animation-name: imgScaleDraw; /*关键帧名称*/
  -webkit-animation-timing-function: ease-in-out; /*动画的速度曲线*/
  -webkit-animation-iteration-count: infinite;  /*动画播放的次数*/
  -webkit-animation-duration: 5s; /*动画所花费的时间*/
  animation: imgScaleDraw 5s ease-in-out infinite;
  -webkit-animation: imgScaleDraw 5s ease-in-out infinite;
}
.pmfo-index__header-login span{
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: #FFFFFF;
  position: relative;
  left: -10px;
}
@-webkit-keyframes imgScaleDraw {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
  0%{
    -webkit-transform: scale(1);
            transform: scale(1);  /*开始为原始大小*/
  }
  25%{
    -webkit-transform: scale(1.2);
            transform: scale(1.2); /*放大1.1倍*/
  }
  50%{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75%{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes imgScaleDraw {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
  0%{
    -webkit-transform: scale(1);
            transform: scale(1);  /*开始为原始大小*/
  }
  25%{
    -webkit-transform: scale(1.2);
            transform: scale(1.2); /*放大1.1倍*/
  }
  50%{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75%{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.pmfo-index__header-nav{
  height: 100%;
}
.pmfo-index__header-nav>li{
  padding: 0 30px;
  height: 100%;
}
.pmfo-index__header-nav>li>a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
}
.pmfo-index__header-nav.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  color: #C7A47C;
  background-color:inherit;
  border-bottom: 3px solid #C7A47C;
}
.pmfo-index__header-nav.nav>li>a:focus, .nav>li>a:hover{
  text-decoration: none;
  background-color: inherit;
}
.pmfo-index__header-nav.nav-pills>li+li{
  margin-left: 0;
}
.pmfo-index__header-nav__dropdown{
  display: none;
}
.pmfo-index__header-navbox{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: flex-end;
  height: 100%;
  min-width: 120px;
}
.pmfo-index__header-language{
  margin: 0 10px;
}
.pmfo-index__header-language .btn-warning{
  background-color: #8F8B85;
  border-color: #8F8B85;
  color: #DEDEDE;
}
.pmfo-index__header-language .btn-default{
  background-color: #4E4E4E;
  border-color: #4E4E4E;
  color: #969595;
}
.pmfo-index__header-language .btn.focus, .pmfo-index__header-language .btn:focus,.pmfo-index__header-language .btn:active:focus{
  outline: none;
}

/* footer */

.pmfo-index__footer{
  background: #1A1A1A;
  padding: 10px;
}
.pmfo-index__footer-wrapper{
  height: 100%;
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
}
.pmfo-index__footer-wrapper>span{
  padding: 0 8px;
}


#pmfo-to-top{
  
  position: fixed;
  bottom: 20px;
  right: 30px;
  background: #C7A47C;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 10000;
  -webkit-box-shadow: 0 0 10px 1px rgb(0 0 0 / 10%);
          box-shadow: 0 0 10px 1px rgb(0 0 0 / 10%);
}
#pmfo-to-top>i{
  font-size: 20px;
  color: #fff;
}
.pmfo-index__header-nav__dropdown-menu,.pmfo-index__header-nav__dropdown-menu.btn-warning:hover,.pmfo-index__header-nav__dropdown-menu.btn-warning.focus, .pmfo-index__header-nav__dropdown-menu.btn-warning:focus{
  background: #C7A47C;
  border-color: #C7A47C;
  outline: none;
}
.pmfo-index__header-nav__dropdown .dropdown-menu{
  left: auto;
  right: 0;
}
.pmfo-index__header-nav__dropdown .dropdown-menu>.active>a{
  background-color: #C7A47C;
}


@media (max-width: 1200px) {
  .pmfo-index__header-nav{
    display: none;
  }
  .pmfo-index__header-nav__dropdown{
    display: block;
  }
}

/* 360px */
@media (max-width: 768px) {
  .pmfo-index__header-login span{
    font-size: 12px;
    left: 0px;
  }
  .pmfo-index__header-nav>li{
    padding: 0;
  }
  .pmfo-index__header-nav>li>a{
    font-size: 12px;
  }
}
/* 768px */
@media (min-width: 768px) and (max-width: 992px) {
  .pmfo-index__header-login span{
    font-size: 12px;
    left: 0px;
  }
  .pmfo-index__header-nav>li{
    padding: 0;
  }
  .pmfo-index__header-nav>li>a{
    font-size: 12px;
  }
}
/* 992 */
@media (min-width: 992px) and (max-width: 1200px) {
  .pmfo-index__header-login span{
    font-size: 12px;
    left: 0px;
  }
  .pmfo-index__header-nav>li{
    padding: 0;
  }
  .pmfo-index__header-nav>li>a{
    font-size: 12px;
  }
}
/* 1200 */
@media (min-width: 1200px) and (max-width: 1440px){
  .pmfo-index__header-login span{
    font-size: 12px;
    left: 0px;
  }
  .pmfo-index__header-nav>li{
    padding: 0;
  }
  .pmfo-index__header-nav>li>a{
    font-size: 12px;
  }
}
/* 1440 */
@media (min-width: 1440px) and (max-width: 1920px) {
  .pmfo-index__header-login span{
    font-size: 16px;
  }
  .pmfo-index__header-nav>li{
    padding: 0 15px;
  }
  .pmfo-index__header-nav>li>a{
    font-size: 16px;
  }
  .pmfo-en .pmfo-index__header-nav>li>a{
    font-size: 14px;
  }
  .pmfo-en .pmfo-index__header-nav>li{
    padding: 0;
  }
  .pmfo-en .pmfo-index__header-login span {
    font-size: 14px;
  }
  
}
/* 1920 */
@media (min-width: 1920px) {
}