.pmfo-groupStructure__banner{
  height: 472px;
  background: url(../images/groupStructure__banner-1.png) no-repeat center center ;
  background-size: 100% 100%;
}
.pmfo-groupStructure__introduce{
  position: relative;
  padding: 130px 140px;
  background: url(../images/groupStructure__introduce-1.png) no-repeat center center ;
  background-size: 100% 100%;
  z-index: 10;
}
.pmfo-groupStructure__introduce::after{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 426px;
  background: #fff;
  content: " ";
}
.pmfo-groupStructure__introduce-title{
  position: relative;
  z-index: 10;
  padding-left: 44px;
}
.pmfo-groupStructure__introduce-title::before{
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 47px;
  background: #C7A47C;
  content: " ";
}
.pmfo-groupStructure__introduce-title>h3{
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  color: #707070;
  margin: 0;
}
.pmfo-groupStructure__introduce-title>em{
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  color: #C7A47C;
  margin-top: 20px;
  font-style: normal;
  display: block;
}
.pmfo-groupStructure__introduce-text{
  margin-top: 80px;
  position: relative;
  z-index: 10;
}
.pmfo-groupStructure__introduce-text>p{
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  color: #252525;
}
.pmfo-groupStructure__introduce-cradbox{
  margin: 120px -30px 0;
  position: relative;
  z-index: 10;
  display: flex;
}
.pmfo-groupStructure__introduce-crad{
  width: 33.333%;
  padding: 0 30px;
  box-sizing: border-box;
}
.pmfo-groupStructure__introduce-crad-wrapper{
  height: 617px;
  background: #FFFFFF;
  box-shadow: 0px 36px 30px rgba(121,121,121,0.16);
  border-radius: 5px;
  box-sizing: border-box;
}
.pmfo-groupStructure__introduce-crad-title{
  position: relative;
  padding: 70px 44px 40px;
}
.pmfo-groupStructure__introduce-crad-title::before{
  position: absolute;
  top: 70px;
  left: 0;
  content: " ";
  width: 14px;
  height: 47px;
  background: #C7A47C;
}
.pmfo-groupStructure__introduce-crad-title>h3{
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  color: #707070;
  margin: 0;
}
.pmfo-groupStructure__introduce-crad-title>em{
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  color: #C7A47C;
  margin-top: 20px;
  font-style: normal;
  display: block;
}
.pmfo-groupStructure__introduce-crad-content{
  padding: 0 30px;
}
.pmfo-groupStructure__introduce-crad-content>p{
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
  color: #252525;
}