.pmfo-index__banner{
  position: relative;
  height: 1080px;
  background: url(../images/index__banner-1.png) no-repeat center center;
  background-size: 100% 100%;
}
.pmfo-index__banner-textbox{
  position: absolute;
  top: 50%;
  left: 0;
  background: rgba(37,37,37,0.39);
  opacity: 0.9;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 76px 130px;
}
.pmfo-index__banner-textbox::before{
  position: absolute;
  top: 0;
  left: 130px;
  width: 120px;
  height: 16px;
  background: #9D2626;
  content: " ";
  display: block;
}
.pmfo-index__banner-textbox>p{
  font-size: 60px;
  font-weight: 200;
  line-height: 84px;
  color: #FFFFFF;
  margin-bottom: 0;
}

.pmfo-index__introduction{
  height: 940px;
  background: #061C2D;
  padding: 0 140px;
  box-sizing: border-box;
}
.pmfo-index__introduction-title{
  position: relative;
  padding: 190px 0 94px;
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  color: #C7A47C;
  letter-spacing: 50px;
  text-align: center;
  margin: 0;
}
.pmfo-index__introduction-title>em{
  color: #fff;
  font-style: normal;
}
.pmfo-index__introduction-content{
  display: flex;
  align-items: center;
}
.pmfo-index__introduction-content-text{
  position: relative;
  padding: 0 90px 0 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  color: #FFFFFF;
}
.pmfo-index__introduction-content-text>p{
  margin-bottom: 0;
}
.pmfo-index__introduction-content-image{
  position: relative;
  width: 465px;
  display: block;
}

.pmfo-index__idea{
  height: 756px;
  background: url(../images/index__idea-1.png) no-repeat center center;
  background-size: 100% 100%;
  padding: 0 240px;
  box-sizing: border-box;
}
.pmfo-index__idea-title{
  position: relative;
  padding: 190px 0 140px;
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  color: #707070;
  letter-spacing: 50px;
  text-align: center;
  margin: 0;
}
.pmfo-index__idea-title>em{
  color: #C7A47C;
  font-style: normal;
}
.pmfo-index__idea-content{
  position: relative;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  color: #252525;
}

.pmfo-index__service{
  height: 898px;
  background: url(../images/index__idea-1.png) no-repeat center center rgba(6,28,45,0.69);
  background-size: 100% 100%;
}
.pmfo-index__service-title{
  position: relative;
  padding: 190px 0 105px;
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  color: #FFFFFF;
  letter-spacing: 50px;
  text-align: center;
  margin: 0;
}
.pmfo-index__service-title>em{
  color: #C7A47C;
  font-style: normal;
}
.pmfo-index__service-content{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 100px;
}
.pmfo-index__service-content-card{
  margin: 0 20px;
  width: 50%;
  height: 502px;
  flex: 1;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
.pmfo-index__service-content-card:hover .pmfo-index__service-content-card-text{
  display: flex;
}
.pmfo-index__service-content-card-image{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.pmfo-index__service-content-card-text{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0 68px;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  color: #FFFFFF;
  text-align: center;
  background: rgba(62,62,62,0.39);
}

.pmfo-index__future{
  position: relative;
  height: 929px;
  padding: 268px 140px 222px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pmfo-index__future-content-image{
  width: 660px;
  display: block;
  position: relative;
  right: -30px;
}
.pmfo-index__future-content{
  position: relative;
  top: -80px;
  left: -30px;
}
.pmfo-index__future-titlebox{
  display: flex;
  align-items: center;
}
.pmfo-index__future-title{
  font-size: 40px;
  font-family: PingFang SC;
  font-weight: 500;
  line-height: 56px;
  color: #C7A47C;
  letter-spacing: 50px;
  flex: 1;
  text-align: center;
  margin: 0;
}
.pmfo-index__future-title>em{
  color: #707070;
  font-style: normal;
}
.pmfo-index__future-content-logo{
  position: relative;
  top: 60px;
  width: 40%;
  height: 450px;
  font-size: 314px;
  font-weight: bold;
  color: #C7A47C;
  opacity: 0.08;
}
.pmfo-index__future-content-text{
  position: relative;
  top: -77px;
  box-sizing: border-box;
  padding: 70px 66px;
  width: 1049px;
  background: rgba(255,255,255,1);
  box-shadow: 0px 36px 30px rgba(0,0,0,0.08);
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  color: #252525;
}
.pmfo-index__future-content-text::before{
  position: absolute;
  top: 37px;
  left: 66px;
  content: " ";
  display: block;
  width: 37px;
  height: 1px;
  background: rgba(199,164,124,0.39);
}
.pmfo-index__banner-textbox::before{
  left: 100px;
}


/* 1200 */
@media (max-width: 1440px) {
  .pmfo-index__banner{
    min-width: 1200px !important;
    height: 800px;
  }
  .pmfo-index__banner-textbox>p{
    font-size: 30px;
    line-height: 60px;
  }
  .pmfo-index__banner-textbox{
    padding: 30px 80px;
    top: 40%;
  }
  .pmfo-index__banner-textbox::before{
    left: 80px;
  }
  .pmfo-index__introduction{
    height: 800px;
  }
  .pmfo-index__introduction-title{
    padding: 160px 0 90px;
  }
  .pmfo-index__introduction-content-text{
    font-size: 16px;
    padding: 0 60px 0 0;
  }
  .pmfo-index__introduction-content-image{
    width: 398px;
  }
  .pmfo-index__idea{
    height: 600px;
  }
  .pmfo-index__idea-title{
    font-size: 30px;
    padding: 160px 0 100px;
  }
  .pmfo-index__service-title{
    padding: 160px 0 100px;
  }
  .pmfo-index__future-content-image{
    width: 340px;
  }
  .pmfo-index__future-content-text{
    padding: 40px 30px;
    width: 790px;
    font-size: 14px;
    line-height: 1.5;
  }
  .pmfo-index__future-content-logo{
    font-size: 150px;
    top: 120px;
    height: 350px;
    width: 30%;
  }
  .pmfo-index__future-content-text::before{
    top: 20px;
    left: 30px;
  }
  .pmfo-index__future-title{
    font-size: 30px;
  }
  .pmfo-index__service-content-card{
    height: 300px;
  }
  .pmfo-index__service{
    height: 800px;
  }
  .pmfo-index__future{
    height: 600px;
  }
}
/* 1440 */
@media (min-width: 1440px) and (max-width: 1920px) {
  
  .pmfo-index__banner-textbox>p{
    font-size: 40px;
  }
  .pmfo-index__banner-textbox{
    padding: 50px 100px;
  }
  .pmfo-index__banner{
    height: 900px;
  }
  .pmfo-index__banner-textbox{
    top: 45%;
  }
  .pmfo-index__introduction-content-text{
    font-size: 18px;
  }
  .pmfo-index__future-content-image{
    width: 500px;
  }
  .pmfo-index__future-content-text{
    padding: 40px 30px;
    width: 790px;
    font-size: 16px;
  }
  .pmfo-index__future-content-logo{
    font-size: 200px;
    top: 60px;
    height: 350px;
    width: 30%;
  }
  .pmfo-index__future-content-text::before{
    top: 20px;
    left: 30px;
  }
}
/* 1920 */
@media (min-width: 1920px) {
}