.pmfo-ourServices__shutter{
  display: flex;
}
.pmfo-ourServices__shutter-card{
  position: relative;
  width: 20%;
  height: 1063px;
}
.pmfo-ourServices__shutter-card-1{
  background: url(../images/ourServices__shutter-11.png) no-repeat center center;
  background-size: 100% 100%;
}
.pmfo-ourServices__shutter-card-2{
  background: url(../images/ourServices__shutter-22.png) no-repeat center center;
  background-size: 100% 100%;
}
.pmfo-ourServices__shutter-card-3{
  background: url(../images/ourServices__shutter-33.png) no-repeat center center;
  background-size: 100% 100%;
}
.pmfo-ourServices__shutter-card-4{
  background: url(../images/ourServices__shutter-44.png) no-repeat center center;
  background-size: 100% 100%;
}
.pmfo-ourServices__shutter-card-5{
  background: url(../images/ourServices__shutter-55.png) no-repeat center center;
  background-size: 100% 100%;
}
.pmfo-ourServices__shutter-front{
  background: rgba(55,61,65,0.39);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pmfo-ourServices__shutter-front-image{
  display: block;
  width: 128px;
  height: 128px;
}
.pmfo-ourServices__shutter-front-text{
  padding: 50px 50px 0;
}
.pmfo-ourServices__shutter-front-text>p{
  text-align: center;
  font-size: 26px;
  line-height: 51px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.pmfo-ourServices__shutter-front-text>p:last-of-type{
  margin-bottom: 0;
}

.pmfo-ourServices__shutter-behind{
  background: rgba(199,164,124,0.79);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  padding: 300px 20px;
  /* display: flex; */
  align-content: center;
  flex-direction: column;
  display: none;
}
.pmfo-ourServices__shutter-behind::before{
  position: absolute;
  top: 236px;
  left: 26px;
  background: #FFFFFF;
  width: 37px;
  height: 3px;
  content: " ";
  display: block;
}
.pmfo-ourServices__shutter-behind>p{
  font-size: 20px;
  font-weight: 300;
  line-height: 1.8;
  color: #FFFFFF;
  margin: 0;
}

.pmfo-ourServices__programme{
  padding: 0 162px;
  height: 1060px;
  background: url(../images/ourServices__programme-4.png);
}
.pmfo-ourServices__programme-title{
  padding: 168px 0 138px;
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  color: #707070;
  text-align: center;
  margin: 0;
}
.pmfo-ourServices__programme-title>em{
  color: #C7A47C;
  font-style: normal;
}
.pmfo-ourServices__programme-content{
  display: flex;
  margin: 0 -15px;
}
.pmfo-ourServices__programme-card{
  padding: 0 15px;
  width: 33.333%;
}
.pmfo-ourServices__programme-card-wrapper{
  height: 509px;
  background: rgba(255,255,255,0.39);
  box-shadow: 0px 0px 13px rgba(182,182,182,0.64);
  transition: .3s ease;
  cursor: pointer;
}
.pmfo-ourServices__programme-card-wrapper:hover{
  transform: translateY(-28px) scale(1);
}
.pmfo-ourServices__programme-card-wrapper:hover .pmfo-ourServices__programme-card-title{
  color: #C7A47C;
}
.pmfo-ourServices__programme-card-image{
  display: block;
  width: 100%;
  height: 339px;
}
.pmfo-ourServices__programme-card-title{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  height: 170px;
  color: #252525;
}

.pmfo-ourServices__selprogramme{
  height: 594px;
  background: url(../images/ourServices__selprogramme-1.png) no-repeat center center;
  background-size: 100% 100%;
}
.pmfo-ourServices__selprogramme-title{
  padding: 124px 0 120px;
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  color: #fff;
  text-align: center;
  margin: 0;
}
.pmfo-ourServices__selprogramme-title>em{
  color: #C7A47C;
  font-style: normal;
}
.pmfo-ourServices__selprogramme-content{
  padding: 0 140px;
}
.pmfo-ourServices__selprogramme-content>p{
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  color: #FFFFFF;
  transition: .3s ease;
}
.pmfo-ourServices__shutter-card:hover .pmfo-ourServices__shutter-front{
  display: none;
  transition: .3s ease;
}
.pmfo-ourServices__shutter-card:hover .pmfo-ourServices__shutter-behind{
  display: flex;
  transition: .3s ease;
}
.pmfo-ourServices__shutter-behind p:hover{
  transform: translateX(5px) scale(1.01);
  cursor: pointer;
  transition: .3s ease;
}