/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.pmfo-serviceScope__card{
  position: relative;
  height: 953px;
}
.pmfo-serviceScope__card-1{
  margin-top: 72px;
  background: url(../images/serviceScope__card-1.png) no-repeat center center;
  background-size: 100% 100%;
}
.pmfo-serviceScope__card-2{
  background: url(../images/serviceScope__card-2.png) no-repeat center center;
  background-size: 100% 100%;
}
.pmfo-serviceScope__card-wrapper{
  padding: 275px 158px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.pmfo-serviceScope__card-title{
  font-size: 160px;
  font-weight: 400;
  line-height: 189px;
  color: #C7A47C;
  margin: 0;
}
.pmfo-serviceScope__card-content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 78px;
}

.pmfo-serviceScope__card-subtitle{
  width: 30%;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.5;
  color: #FFFFFF;
}
.pmfo-serviceScope__card-describe{
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  color: #FFFFFF;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pmfo-serviceScope__card-1 .pmfo-serviceScope__card-describe{
  padding-left: 96px;
}

.pmfo-serviceScope__card-2 .pmfo-serviceScope__card-describe{
  padding-right: 84px;
}


/* 1200 */
@media (max-width: 1440px) {
  .pmfo-serviceScope__card{
    height: 700px;
  }
  .pmfo-serviceScope__card-wrapper{
    padding: 100px 100px 0;
  }
  .pmfo-serviceScope__card-title{
    font-size: 120px;
    line-height: 140px;
  }
  .pmfo-serviceScope__card-content{
    margin-top: 60px;
  }
  .pmfo-serviceScope__card-subtitle{
    font-size: 40px;
  }
  .pmfo-serviceScope__card-1 .pmfo-serviceScope__card-describe{
    padding-left: 60px;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
  }
  .pmfo-serviceScope__card-2 .pmfo-serviceScope__card-describe{
    padding-right: 60px;
  }
}
/* 1440 */
@media (min-width: 1440px) and (max-width: 1920px) {
  
}
/* 1920 */
@media (min-width: 1920px) {
}