.pmfo-teamMembers__introduce{
  padding-top: 72px;
}
.pmfo-teamMembers__introduce-detailbox{
  display: flex;
  justify-content: space-between;
}
.pmfo-teamMembers__introduce-detail{
  position: relative;
  z-index: 20;
  width: 664px;
  height: 935px;
  background: #C7A47C;
  box-sizing: border-box;
  padding: 290px 0 0 0;
}
.pmfo-teamMembers__introduce-detail-username{
  margin: 0;
  position: relative;
  padding-left: 158px;
  font-size: 36px;
  line-height: 63px;
  color: #FFFFFF;
}
.pmfo-teamMembers__introduce-detail-username::before{
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -8px;
  width: 120px;
  height: 16px;
  background: #9D2626;
  content: " ";
}
.pmfo-teamMembers__introduce-detail-briefIntroduction{
  width: 664px;
  margin-left: 158px;
  padding: 70px 0 0 0;
  font-size: 20px;
  font-weight: 200;
  line-height: 40px;
  color: #252525;
}
.pmfo-teamMembers__introduce-detail-describe{
  width: 664px;
  margin-left: 158px;
  padding: 60px 0 0 0;
  font-size: 20px;
  font-weight: 200;
  line-height: 40px;
  color: #252525;
}
.pmfo-teamMembers__introduce-detail-describe>p{
  margin: 0;
}
.pmfo-teamMembers__introduce-avatar{
  position: relative;
  z-index: 10;
  flex: 1;
  height: 935px;
}


.pmfo-teamMembers__introduce-list{
  display: flex;
}
.pmfo-teamMembers__introduce-card{
  position: relative;
  width: 25%;
  height: 430px;
  overflow: hidden;
  cursor: pointer;
  transition: 1.3s ease;
}
.pmfo-teamMembers__introduce-card-active .pmfo-teamMembers__introduce-card-behind,.pmfo-teamMembers__introduce-card:hover .pmfo-teamMembers__introduce-card-behind{
  display: block;
  
}
.pmfo-teamMembers__introduce-card-front{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: .3s ease;
}
.pmfo-teamMembers__introduce-card-front>img{
  display: block;
  width: 100%;
  height: 100%;
}

.pmfo-teamMembers__introduce-card-behind{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba(29,40,58,0.79);
  display: none;
  transition: .3s ease;
}
.pmfo-teamMembers__introduce-card-behind-title{
  position: relative;
  margin: 70px 0 0;
  padding: 32px 0 0 45px;
  font-size: 36px;
  line-height: 63px;
  color: #FFFFFF;
}
.pmfo-teamMembers__introduce-card-behind-title::before{
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  display: block;
  width: 120px;
  height: 16px;
  background: #9D2626;
}
.pmfo-teamMembers__introduce-card-behind-content{
  padding: 48px 46px 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  color: #FFFFFF;
}